*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.card{
    margin: 5rem auto;
    display: flex;
    flex-direction: column;
    /* position: relative; */
   height: 90vh;
   width: 40vw;
   
}
.card1{
    background-color: rgb(54, 67, 211);
    width: 100%;
    height: 35%;
    /* margin: 50px; */
    /* position: absolute;  */
    position: relative;
    border-top-right-radius:1rem ;
    border-top-left-radius:1rem ;
    
}
.card2{
    background-color: rgb(249, 250, 247);
    width: 100%;
    height: 65%;
  
    border-bottom-right-radius:1rem ;
    border-bottom-left-radius:1rem ;

   
}
.word{
   display: flex;
   flex-direction: column;
   /* justify-content: center; */
   align-items: center;
   gap: 0.4rem;
   padding-top: 3.5rem;
   
}
.icons{
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-top: 1rem;
    /* align-items: center; */
}
.icon{
    width: 7%;
}
.buttons{
   display: flex;
   justify-content: center;
   gap: 2rem;
}
button{
    padding: .5rem 1.5rem;
    background-color:rgb(54, 67, 211);
    border: none ;
    border-radius: 1rem;
    color: aliceblue;
    margin-top: 1rem;
}

 .comments{
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    margin-top: .6rem;
    /* background-color: yellow; */
    padding-top: 1rem;
    padding-bottom: 1rem;
 }
.comment{
    width: 1rem;
}
.text{
    font-size: .9rem;
    font-weight: bold;
}
.heart{
    display: flex;
    gap: .2rem;
    border-right: 1px solid black;
    padding-right: 1.5rem;
    
   
}
.speech-bubble{
    display: flex;
    gap: .2rem;
    border-right: 1px solid black;
    padding-right: 1.5rem;
}
.reply{
    display: flex;
    gap: .2rem;
}
.faith{
    width: 8rem;
    height: 8rem;
    border-radius: 100%;
    overflow: hidden;
    border: 3px solid rgb(54, 67, 211);
    position: absolute;
    left: 8rem;
    top: 3.5rem;
}
.fai{
width: 100%;
height: 100%;
/* position: absolute; */
}
@media(max-width:1280px){
    .card{
        width: 35vw;
    }
    .faith{
        width: 10rem;
        height: 10rem;
        left: 9rem;
    }
    .word{
        font-size: 1.8rem;
        margin-bottom: 1.5rem;
    }
    .icons{
        margin-bottom: 1rem;
        gap: 1.5rem;
    }
    .text{
        font-size: 1.5rem;
    }
    .comment{
        width:2rem;
    }
    button{
        font-size: 1.5rem;
    }
}
@media(max-width:1115px){
    .faith{
        left: 7rem;
    }
}
@media(max-width:885px){
    .card{
        width: 60vw;
        height: 60vh;
    }
    .faith{
        width: 13rem;
        height: 13rem;
        left: 10rem;
    }
    .word{
        font-size: 2rem;
        padding-top: 4rem;
        margin-bottom: 2rem;
    }
    .icons{
        margin-bottom: 1.5rem;
    }
    button{
        font-size: 1.5rem;
    }
}
@media(max-width:835px){
    .card{
        width: 70vw;
        height: 60vh;
    }
    .word{
        font-size: 3rem;
        margin-bottom: 2rem;
    }
    .icons{
        gap: 3rem;
        margin-bottom: 2rem;
    }
    .buttons{
        gap: 4rem;
    }
    .faith{
        width: 12rem;
        height: 12rem;
        left: 12rem;
        top: 5rem;
    }
    .text{
font-size: 1.5rem;
    }
    .comment{
        width: 2rem;
    }
}
@media(max-width:820px){
    .card{
        width: 70vw;
        height: 60vh;
    }
    .faith{
        left: 12rem;
        top: 5rem;
        width: 12rem;
        height: 12rem;
    }
    .word{
        padding-top: 5rem;
        font-size: 2rem;
        margin-bottom: 2rem;
    }
    .icons{
        margin-bottom: 2rem;
    }
}
@media(max-width:801px){
    .faith{
        top: 7rem;
    }
    .icons{
        margin-bottom: 1rem;
    }
    button{
    margin-bottom: 1rem;
    }
}
@media(max-width:768px){
  .card{
     height: 70vh;
   width: 80vw;
   margin-top: 6rem;
  }  
  .faith{
    width: 14rem;
    height: 14rem;
    left: 12rem;
    top: 3rem;
  }
}
@media(max-width:428px){
    .card{
       
        width: 95vw;
        height: 70vh;
    }
    .faith{
        width: 10rem;
        height: 10rem;
        left: 8rem;
        top: 4rem;
    }
    .word{
        padding-top: 2.5rem;
        font-size: 1.5rem;
    }
    .icons{
        gap: 1rem;
    }
    .buttons{
        gap: 1.5rem;
    }
    button{
        font-size: 1rem;
    }
    .text{
        font-size: 1.5rem;
    }
    .comment{
        width: 1.5rem;
    }
}
@media(max-width:414px){
    .card{
        width: 90vw;
    }
    .faith{
        width: 10rem;
        height: 10rem;
        left: 7rem;
    }
    .word{
        padding-top: 3rem;
        font-size: 1.5rem;
    }
    .icons{
        gap: 1rem;
    }
    .buttons{
        gap: 1rem;
    }
    button{
        font-size: 1rem;
    }
    .text{
        font-size: 1rem;
    }
    .comment{
        width: 1rem;
    }
}

@media(max-width:412px){
    .card{
        height: 60vh;
    }
    .faith{
        top: 3rem;
    }
}
@media(max-width:394px){
    .card{
        height:65vh;
      
    }
    .faith{
        top:3rem;
        left: 6rem;
    }
    .word{
        padding-top: 3rem;
    }
}
@media(max-width:391px){
    .card{
      
        height: 75vh;
    }
}
@media(max-width:378px){
  .card{
        height: 85vh;
       width: 95vw;
    }
    .faith{
        top: 4rem;
        left: 7rem;
        width: 10rem;
        height: 10rem;
    } 
    .icons{
        gap: 1.5rem;
    }  
    .buttons{
      gap: 1.5rem;
    }
    button{
        font-size: 1rem;
    }
    .text{
        font-size: 1.3rem;
    }
    .comment{
        width: 1.5rem;
    }
}
@media(max-width:363px){
    .card{
       width: 90vw;
        height:63vh;
       
       
      
    }
    .faith{
        width: 9rem;
        height: 9rem;
        left:3rem;
        top: 3rem;

    }
    .word{
        padding-top: 3rem;
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
    .icons{
        gap: 1.5rem;
    }
    .buttons{
        
        gap: 1rem;
    }
    button{
        font-size: 1rem;
    }
    .text{
        font-size: 1rem;
    }
    .comment{
        width: 1rem;
    }
    .faith{
        left: 6rem;
    }
}
@media(max-width:361px){
    .card{
        
        height: 80vh;
    }
    .faith{
        top: 4rem;
    }
}
@media(max-width:330px){
    .card{
        width: 90vw;
        height: 80vh;
    }
    .faith{
        top: 3rem;
    }
}
@media(max-width:320px){
    .card{
      
        height: 90vh;
    }
    .faith{
        width: 8rem;
        height: 8rem;
        top: 4rem;
        left: 5rem;
    }
    .buttons{
        gap: .5rem;
        margin-bottom: -1rem;
    }
    button{
        font-size: 1rem;
    }
}




